header {
    background-color: #E6E6E6;
    height: 188.19px;    
    width: 1440px;
}

.foto-cv {
    text-align: center;
}

body { 
    font-family: 'Times New Roman', Times, serif;    
    position: absolute;
}

h1, h2 {
    background-color: #C4C4C4;
    color: #005677;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    letter-spacing: 0.3em;
    height: 60px;
    margin-top: 0px;
    margin-bottom: 100px;
    text-align: center;
    top: 188px;
    width: 1440px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    letter-spacing: 0.2em;
    width: 1440px;
}

ul {
    font-size: 15px;
}

#datos-personales {
    top: 376px;
}

#formacion-academica {
    top: 518px;
}

#experiencia-laboral {
    top: 673px;
}

.titulos {
    font-weight: bold;
}

#titulos-datos { 
    font-style: italic;
}

#lista-uno {
    list-style-position: inherit;
}

footer {
    background-color: #005677;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    height: 37px;
    line-height: 17px;
    top: 987px;
    width: 1440px;
}